html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Roboto';
  /*background-color: #00539F;*/
}

.title {
  font-size: 25px;
	margin: 10px auto;
	display: block;
	text-align: center;
}

.subTitle {
  font-size: 20px;
	margin: 10px auto;
	display: block;
}

.content {
  font-size: 15px;
	margin: 10px auto;
	display: block;
}

.color-form {
	font-size: 15px;
	margin: 10px auto;
	display: block;
	text-align: center;
}


